@{
    ViewData["Title"] = "PagPerfil";
}

<main>
    <div class="container">
        <section class="infos-perfil">
                <div class="foto-perfil">
                @foreach (Usuario user in ViewBag.Usuario.BuscarNome(int.Parse(ViewBag.IdUser)))
                {
                    <img src="../img/publicacao/@user.Foto" alt="Foto do Perfil">
                }
                </div>
            <div class="info">
                <div class="nome-links">
                    @foreach (Usuario user in ViewBag.Usuario.BuscarNome(int.Parse(ViewBag.IdUser)))
                    {
                        <p>@user.UserName</p>     
                    }
                    <a class="editar" asp-area="" asp-controller="Edicao" asp-action="Index">Editar</a>
                </div>
                    <div class="seguidores">
                        <p> 1 publicações</p>
                        <p> 1 seguindo</p>
                        <p> 1 seguidores</p>
                    </div>
                    <div class="usuario">
                    @foreach (Usuario user in ViewBag.Usuario.BuscarNome(int.Parse(ViewBag.IdUser)))
                    {
                        <h5>@user.Nome</h5>
                    }
                    </div>
            </div>
        </section>
        <section class="publicacoes">
        
            <h4>PUBLICAÇÕES</h4>
                @foreach (Publicacao item in ViewBag.Publicacao.BuscarIdUser(int.Parse(ViewBag.IdUser)))
                {
                    <div class="publicacao">
                        <div class="imagem">
                            <img src="../img/publicacao/@item.Imagem" alt="">
                        </div>
                        <div class="info-publicacao">
                            <div class="imagemperfilpublicacao">
                                @foreach (Usuario user in ViewBag.Usuario.BuscarNome(int.Parse(ViewBag.IdUser)))
                                {
                                    <img src="../images/@user.Foto" alt="">
                                }
                            </div>
                            @foreach (Usuario user in ViewBag.Usuario.BuscarNome(int.Parse(ViewBag.IdUser)))
                            {
                                <div class="nomeelocalizacao">
                                    <p>@user.UserName</p>
                                </div>
                            }
                            <div class="icons-publicacao">         
                                <img src="imagens/coracao.png" alt="">
                                <img src="imagens/cxdialogo.png" alt="">
                            </div>
                            <div class="curtidas">
                                <p>1 curtidas</p>
                            </div>
                            @foreach (Comentario coment in ViewBag.Comentarios.BuscarId(item.IdPublicacao))
                            {
                                <div class="comentarios">
                                    <div class="comentarios-pessoas">
                                        <a href="#">@coment.UserName</a>
                                        <p>@coment.Mensagem</p>
                                        <a class="excluir excluirComent" asp-area="" asp-controller="PaginaPerfil" asp-action="ExcluirComent" asp-route-id="@coment.IdComentario">Excluir</a>
                                        <img src="imagens/coracao.png" alt="">
                                    </div>
                                </div>
                            }
                        </div> 
                    </div>
                }
        </section>
    </div>
</main>